*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-item a{
    color: black;
}
.collapse button{
    color: blue;
}
.nav-logo a{
    color: black;
    font-size: 40px;
}
.banner-left{
    background-color: lightblue;
    border-radius: 0 0 10% 0;
    color: #fff;
}
.banner{
    background-color: blue;
}
.banner-left button{
    padding: 10px;
    color: blue;
    background-color: #fff;
    border: none;
}
.navbar-toggler-icon{
    color: black;
}
.banner-right i{
    color: #fff;
    font-size: 50px;
}